.openModal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.openModalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
